<!doctype html>
{% load static %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html;
      charset=UTF-8"><meta name="ROBOTS" content="NOINDEX, NOFOLLOW"><meta
      name="referrer" content="no-referrer">
    <style>
    .appleLinks{font-family:Arial;color:#666666!important;text-decoration:none}.appleLinks a{color:#666666!important;text-decoration:none}@media screen and (max-width:480px){.fontadjust10{font-size:8px!important}.col-xs-1_3_2d{width:100%!important}}@media screen and (max-width:639px){.img140_3_2d{height:140px!important;width:140px!important}.mob_padd18_3_2d{padding-left:18px!important;padding-right:18px!important}.mob_paddt9_3_2d{padding-top:9px!important}.font18-l34_3_2d{font-size:18px!important;line-height:28px!important}.font16-l34_3_2d{font-size:16px!important;line-height:26px!important}.font14-l34_3_2d{font-size:14px!important;line-height:22px!important}
.wContainer{width:100%!important;}.wFullWidthImg{width:100%!important;height:auto!important;}.wSpacer{width:20px!important;height:auto!important;}.wMobileText{font-size:16px!important;line-height:22px!important;}.wCTASpacer{width:10px!important;}.wCTAtext{font-size:14px!important;}.wMobilteTD{width:49%!important;}.wDesktop{display:none!important;}.wMobile{display:block!important;max-height:inherit!important;width:100%!important;line-height:inherit!important;font-size:inherit!important;overflow:visible!important;}.font20-l34_3_2d{font-size:20px!important;line-height:20px!important}
.font28-l34_3_2d{font-size:28px!important;line-height:30px!important}.button-m2_3_2d{width:300px!important;height:32px!important}.txt-mobile26_3_2d{font-size:13px!important;line-height:19px!important}.wauto_3_2d{width:auto!important}.w8p_3_2d{width:7px!important}.product_m_3_2d{width:100px!important}.w50_3_2d{width:50%!important}.mobile-certona-product{display:inline-block!important;width:50%!important}.padd-h40_3_2d{padding-left:20px!important;padding-right:20px!important}.border-zero_3_2d{border:0 none!important}.padding-zero_3_2d{padding:0!important}.bor-top-gray_3_2d{border-top:1px solid #e5e5e5!important}
.bor-bott-gray_3_2d{border-bottom:1px solid #e5e5e5!important}.f22-l26_3_2d{font-size:11px!important;line-height:13px!important}.f26-l38_3_2d{font-size:22px!important;line-height:28px!important}.font24-l34_3_2d{font-size:12px!important;line-height:17px!important}.f12_3_2d{font-size:12px!important}.f24_3_2d{font-size:24px!important}.f26-l32_3_2d{font-size:13px!important;line-height:16px!important}.f26-l38_3_2d{font-size:13px!important}.paddtop80_3_2d{padding-top:70px!important}.xspace-headtop_3_2d{padding-bottom:15px!important}.ht60_3_2d{height:60px!important}.mspace_adi_heading_3_2d{padding-top:35px!important}.mspace_v7_3_2d{padding-top:7px!important;padding-bottom:7px!important}
.mspace_adi_hbottom_3_2d{height:35px!important}.mspace_summaryhead_3_2d{padding-top:40px!important}.mspace_sdetails_3_2d{padding-top:0!important;padding-bottom:30px!important}.mspace_sechead_3_2d{padding-top:30px!important;padding-bottom:25px!important}.mspace_prodtop_3_2d{height:20px!important}.mspace_faq_3_2d{padding-top:12px!important;padding-bottom:12px!important}.mspace_btntop_3_2d{padding-top:25px!important}.mspace_t40_3_2d{padding-top:40px!important}.button-m_3_2d{width:395px!important;height:69px!important}.xspace-faqlines_3_2d{padding-top:26px!important;padding-bottom:26px!important}.xspace-faqft_3_2d{padding-left:20px!important;padding-right:20px!important}
.w13p_3_2d{width:13px!important}.btn_ht_3_2d{height:35px!important}.f11_3_2d{font-size:11px!important}.f28-l38_3_2d{font-size:14px!important;line-height:19px!important}.talk-txt-m_3_2d{color:#5c5c5c!important;text-align:center!important;padding-top:25px!important}}@media screen and (max-width:639px){.container{width:100%!important}.leftQuot{padding-left:0!important;padding-right:8px!important}.rightQuot{padding-right:0!important;padding-left:8px!important}.speech{padding-left:0!important;padding-right:0!important;text-align:left}.resizeImg{width:100%}.resizeImg80{width:80%!important}
div.hideDesktop{display:block!important;margin:0;padding:0;overflow:visible!important;width:auto!important;height:auto!important;max-height:inherit!important}img.hideDesktop{display:block!important;margin:0;padding:0;overflow:visible!important;width:100%!important;height:auto!important;max-height:inherit!important}tr.show-mobile{display:block!important}.show-mobile{display:block!important;width:auto!important;max-height:inherit!important;overflow:visible!important;float:none!important}.mobile-padding{padding-left:15px!important;padding-right:15px!important}.mobile-padding-left{padding-left:15px!important;padding-right:0!important}
.force-col{display:block;padding-right:0!important;width:100%;border:0!important}.force-col{display:block;padding-right:0!important;width:100%;border:0!important}.col{float:none!important;width:100%!important}.col-3{float:none!important;width:100%!important}.height30{height:30px!important}.buttonPadding{padding-left:15px!important}.centerImage{margin-left:auto!important;margin-right:auto!important}.noBorder{border:none!important}.width70{width:70%!important}.width80{width:80%!important}.width90{width:90%!important}.width95{width:95%!important}.resetBorders{border:0!important}.height10{height:10px!important}img.height10{height:10px!important}
.mobile-menu-padding{width:auto!important;padding-left:10px!important}.reset-height{height:auto!important}.add-top-bot-margin{margin-top:30px!important;margin-bottom:30px!important}.mobile-font-18{font-size:18px!important}.mobile-font-16{font-size:16px!important}.mobile-font-14{font-size:14px!important}.mobile-font-12{font-size:12px!important}table.padding-20{margin-left:20px}table tr td img #action{margin-left:5px}table.action2{margin-top:15px}.height20{height:20px!important}table.marg-bot-20{margin-bottom:20px!important}.mobile-font-25{font-size:25px!important}.story-left{padding-left:15px!important;padding-right:7px!important}
.story-right{padding-left:7px!important;padding-right:15px!important}.voucher-btn a{font-weight:normal!important;font-size:18px!important}table.add-bot-margin-10{margin-bottom:10px!important}table.add-bot-margin-30{margin-bottom:30px!important}table.dialog-btn{width:200px!important;margin-top:20px!important}span.dialog-font{display:block!important;font-size:16px!important}.font14-reset-lineheight{font-size:14px!important;line-height:18px!important}#width50{width:50%!important}.mobile-font-17{font-size:16px!important}.newRetailfooterblockpadding{padding-top:37px!important;padding-bottom:40px!important}.newRetailfooterblockpadding{padding-top:37px!important;padding-bottom:40px!important}}
@media screen and (max-width:639px){img.centerImage{margin-left:auto;margin-right:auto}.font10{font-size:10px!important}.font10{font-size:10px!important}.header-menu-option{font-size:9px!important;line-height:10px!important;letter-spacing:1px!important}.autoheight{height:auto!important}.text{width:100%!important;height:auto!important}.responsive-banner-image{width:100%!important}.changeBorder2{border-right:0!important;border-bottom:10px solid #EAEAEA}.alignMobile{display:block!important;width:100%!important;align:center!important;padding-left:55px!important}.alignMobile1{display:block!important;align:center!important;padding-left:55px!important}.paddingTopMobile{padding-top:10px!important}
.paddingMobile{padding-top:10px!important;padding-bottom:10px!important;align:center!important;text-align:center!important}.hideMobile{display:none!important}.fasteasyCheckout_padding{border-right:0 none!important;padding-top:40px!important;width:100%!important}.productContainer_image{width:200px!important;float:left!important}.productImage_abandonbrowse{width:200px!important}.newHeight2{height:0!important;font-size:0!important}.leftMargin{padding-left:27px!important;text-align:left!important}.leftMarginShopnow{padding-left:18px!important}.acCodetxtwidth{width:94%!important}.width100{width:100%!important}.fasteasyCheckout_paddingTabletoppadding{padding-top:40px!important}
.templateColumns{width:320px!important}.templateColumns100{width:100%!important}.templateColumnContainer{display:block!important;width:100%!important}.deliveryBlockContainer{border-bottom:1px solid #ebebeb;border-right:0 none!important;padding-bottom:40px!important;width:100%!important}.buttonpaddingBottom{padding-bottom:10px!important}.leftMargin2{border:0!important;padding-left:27px!important}}@media screen and (max-width:639px){.paddingMobileZero{display:block!important;width:100%!important;padding-right:0px!important}.leftMargin3{border:0!important;padding-left:60px!important}.shoepadding{padding-left:30px!important}.mobilecenter{text-align:center!important}
.paddingzero{padding-right:0px!important;padding-left:0px!important}.mobiletextpadding{padding-left:10px;padding-right:10px}.leftpaddingmobile{padding-left:10px}.fontadjust10{font-size:14px!important;padding-top:5px!important}.tablecolorchange{display:block!important;width:100%!important;background-color:#FFF;padding-top:5px!important;padding-bottom:5px!important}.textcolor{color:#000000!important}.paddingtop{padding-top:0px!important}.bordermobile{border-right:0px!important}.mobilebottomborder{display:block!important;width:100%!important;border-bottom:1px solid #f2f2f2}.paddingzero480{padding-left:0px!important;padding-top:10px!important}
.mobilepaddingheader{display:block!important;width:100%!important;padding-top:5px!important;padding-bottom:5px!important}.paddingobjectives{width:100%!important;padding-left:60px!important}.paddinglogo{padding-left:150px!important}.padding-right{padding-right:28px!important}}@media screen and (max-width:639px){.fontSize72{font-size:36px!important;font-weight:700!important}.fontSize48{font-size:24px!important;font-weight:700!important}.fontSize32{font-size:16px!important;font-weight:700!important}.fontSize70{font-size:45px!important;font-weight:700!important}.fontSize46{font-size:30px!important;font-weight:700!important}.fontSize28{font-size:19px!important;font-weight:700!important}
.fontSize24{font-size:16px!important;font-weight:700!important}.fontSize18{font-size:14px!important;font-weight:700!important}.fontSize17{font-size:14px!important;font-weight:700!important}.fontSize14{font-size:13px!important;font-weight:400!important}.fontSize13{font-size:12px!important;font-weight:400!important}.fontSize18n{font-size:14px!important;font-weight:400!important}.buttonAjustHeight{height:33px!important}.fontadjust12{font-size:12px!important}.paddingTop48{padding-top:48px!important}.paddingTop32{padding-top:32px!important}.paddingfooter{padding-left:10px}.mobile-td-width-82{width:82px!important;padding-left:0!important;padding-right:0!important}
.mobile-td-width-105{width:105px!important;padding-left:0!important;padding-right:0!important}.mobile-full-width{width:100%!important}.mobile-font-20{font-size:20px!important}.mobile-padding-20{padding-left:20px!important;padding-right:20px!important}.mobile-padding-right-13{padding-right:13px!important}.mobile-padding-right-28{padding-right:20px!important}table.mobile-center-table{text-align:center!important;margin:auto!important}img.reszeImg80_3_2d{width:80%!important}.paddingtop{padding-top:0px!important}.font10{font-size:10px!important}.resetheight{height:auto!important}.hideMobile{display:none!important}.showMobile{display:block!important}
table.showMobile{display:table!important;width:100%!important;height:100%!important}}@media screen and (max-width:414px){.mobile-padding-right-28{padding-right:10px!important}}@media screen and (max-width:320px){.button-m2_3_2d{width:200px!important;height:70px!important;text-align:center!important}.button-m3_3_2d{width:125px!important;height:40px!important;text-align:center!important}.txt-mobile13_3_2d{text-align:center!important;width:100%!important}.txt-mobile-left13_3_2d{text-align:left!important;width:100%!important;font-size:13px!important;line-height:15px!important}.f12_3_2d{font-size:12px!important}
.mob_pa_2_3d{padding-right:37px!important;padding-left:37px!important;text-align:center!important}.button-m1_3_2d{width:198px!important}}@media screen and (max-width:480px){.ordersummrypadding10{padding-left:10px!important}.text{width:100%!important;height:auto!important}.changeBorder2{border-right:0!important;border-bottom:10px solid #EAEAEA}.autoheight{height:auto!important}.alignMobile{display:block!important;width:100%!important;text-align:center!important;padding-left:55px!important}.alignMobile1{display:block!important;text-align:center!important;padding-left:55px!important}.leftMargin{padding-left:27px!important;text-align:left!important}.lessleftMargin{padding-left:16px!important}
.responsive-banner-image{width:100%!important}.width290{width:290px!important}.hideDesktop{display:block!important}.productImage{width:60%!important}.lessleftMargin45{padding-left:60px!important;text-align:left!important}.lessleftMargin80{padding-left:45px!important;text-align:left!important;width:100%!important}.arrow-white1{padding-left:65px!important}.arrow-white2{padding-left:38px!important}.arrow-white3{padding-left:60px!important}.width40{width:50%!important}.midbutton{width:80%!important}.productContainer_image{width:130px!important;float:left!important;padding:8px 10px}.productImage_abandonbrowse{width:140px!important}.paddingProductcontainer{padding:0 10px!important}
.newHeight{height:0!important}.width320{width:320px!important}.productsContainerE1{padding:0!important}.productCol{width:310px!important}}@media screen and (max-width:640px){.header-v2-logo-content{padding-bottom:14px!important}.header-v2-logo-content img{width:50px!important;height:auto!important}.net-footer-logo-v2{padding-right:27px!important}.mobile-footer-padding-block{padding:27px 20px!important}.mobile-footer-padding-block-wave2{padding:27px 27px!important}.mobile-privacy-transactional{width:50%!important;display:inline-block!important;padding-bottom:13px!important}.mobile-footer-padding-privacy-block{padding:27px 20px 13px 20px!important}
.mobile-footer-padding-privacy-block-wave2{padding:27px 27px 13px 27px!important}.olapic_headline{font-size:36px!important;line-height:32px!important}}@media screen and (max-width:414px){.net-footer-logo-v2{padding-right:27px!important}.net-footer-logo-v2 img{max-width:40px!important}}@media screen and (max-width:320px){.net-footer-logo-v2{padding-right:27px!important}.net-footer-logo-v2 img{max-width:32px!important}}
</style>
    <title>Order Confirmation
    </title>

    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->

    <style type="text/css">.c1-ui-state-hover {background-color:yellow !important; padding:5px !important }</style></head>
  <!--  -->
  <body style="margin:0; padding: 0;" bgcolor="#ffffff" leftmargin="0"
    topmargin="0" marginwidth="0" marginheight="0"><style type="text/css">

</style>
    
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0"
      align="center">
      <!-- ************************ BEGIN RENDER HEADER ************************ -->
      <tbody><tr>
          <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" width="100%"
              role="presentation" style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner"></td></tr></tbody></table><table
              cellpadding="0" cellspacing="0" width="100%" style="min-width:
              100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner">
                    <!---->
                  </td></tr></tbody></table><table cellpadding="0"
              cellspacing="0" width="100%" style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner">
                    <!---->
                  </td></tr></tbody></table><table cellpadding="0"
              cellspacing="0" width="100%" style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner">
                    <!---->
                  </td></tr></tbody></table><table cellpadding="0"
              cellspacing="0" width="100%" style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner">
                    <!-- --></td></tr></tbody></table><table cellpadding="0"
              cellspacing="0" width="100%" style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner">
                    <!-- -->





                    <!--  --></td></tr></tbody></table>

          </td>
        </tr>
       
        <tr>
          <td align="center" valign="top" bgcolor="#FFFFE9">
            <table cellpadding="0" cellspacing="0" width="100%"
              style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner"><!--  -->
                    <table width="100%" height="100%" border="0" cellspacing="0"
                      cellpadding="0">
                      <tbody><tr>
                          <td align="center" valign="top" bgcolor="#FFFFE9">
                            <table width="640" class="container"
                              bgcolor="#FFFFE9" border="0" cellspacing="0"
                              cellpadding="0">
                              <tbody><tr>
                                  <td align="left" valign="top">
                                    <table width="100%" border="0"
                                      cellspacing="0" cellpadding="0">
                                      <tbody><tr>
                                          <td align="left" valign="top"
                                            class="mobile-padding-20"
                                            style="padding:14px 20px;">
                                            <table width="100%" align="left"
                                              class="col" border="0"
                                              cellspacing="0" cellpadding="0">
                                              <tbody><tr>
                                                  <td align="left" valign="top"
                                                    class="templateColumnContainer">
                                                    <table width="74"
                                                      align="left"
                                                      class="container"
                                                      border="0" cellspacing="0"
                                                      cellpadding="0"
                                                      valign="bottom"
                                                      style="vertical-align:bottom;">
                                                      <tbody><tr>
                                                          <td align="left"
                                                            class="header-v2-logo-content"
                                                            valign="bottom"
                                                            style="max-width:60px;
                                                            max-height:42px;
                                                            padding-bottom:2px;">
                                                            <!---->
                                                            <a href="{% url 'ecommerce:shop-all' %}"
                                                              target="_blank">
                                                              <img width="60"
                                                                height="40"           
                                                                style="display:block; width:60px"
                                                                alt="Viet Ao Dai Boutique"
                                                                src="cid:logo.png"
                                                                border="0">
                                                            </a>
                                                            <!-- -->
                                                          </td>
                                                        </tr>
                                                      </tbody></table>
                                                  </td>
                                                  
                                                </tr>
                                              </tbody></table>
                                          </td>
                                        </tr>
                                      </tbody></table>
                                  </td>
                                </tr>
                              </tbody></table>


                          </td></tr></tbody></table></td></tr></tbody></table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" width="100%"
              role="presentation" style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner">
                    <!---->

                    <table width="100%" align="center" border="0"
                      cellspacing="0" cellpadding="0">
                      <tbody><tr>
                          <td align="center" valign="top">


                            <table width="640" align="center" class="container"
                              border="0" cellspacing="0" cellpadding="0">
                              <!--MAIN STORY-->
                              <tbody>
                                <tr>
                                    <td align="left" class="paddtop80_3_2d
                                      mspace_adi_heading_3_2d"style="padding-top:25px;padding-left:20px;
                                      padding-right:20px;" valign="top">
                                      <span name="ordersum-headline-text"
                                        id="ordersum-headline-text"
                                        style="font-family:Arial;font-size:30px;
                                        font-weight:bold;color:#000000;
                                        background-color:#ffffff;
                                        word-wrap:break-word;table-layout:
                                        fixed;">ORDER CONFIRMATION
                                      </span>
                                    </td>
                                  </tr>
                                <tr>
                                  <td align="left" class="txt-mobile26_3_2d
                                    txt-mobile-left13_3_2d"style="padding-left:20px;
                                    padding-right:20px; padding-top:26px;
                                    font-weight: bold; font-family:Arial;
                                    font-size:18px;">
                                    <a name="body-order-number-link"
                                      id="body-order-number-link"
                                      style="text-decoration-color:#000000;
                                      color:#000000;text-decoration:underline"
                                      target="_blank">
                                      <span id="body-order-number-text"
                                        style="text-transform: capitalize;
                                        text-align: left
                                        ;text-decoration:underline"
                                        name="body-order-number-text">ORDER
                                        NUMBER: {{ order_ref_id.ref_id }}</span>
                                    </a>
                                  </td>
                                </tr>
                                

                                <tr>
                                  <td align="left" class="txt-mobile26_3_2d
                                    txt-mobile-left13_3_2d" style="text-align:
                                    left; padding-left:20px; padding-right:20px;
                                    padding-top:26px; font-family:Arial;
                                    font-size:18px; color:#5c5c5c;">
                                    <span id="body-salutation-text"
                                      name="body-salutation-text">Hello {{ order_ref_id.customer_id.first_name }},
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" class="txt-mobile26_3_2d
                                    txt-mobile-left13_3_2d" style="text-align:
                                    left; padding-left:20px; padding-right:20px;
                                    padding-top:26px; font-family:Arial;
                                    font-size:18px; color:#5c5c5c;">
                                    <span id="body-line1-text"
                                      name="body-line1-text">
                                      We got your order—now leave
                                      the rest to us. We’ll contact when your order ready to pick-up or ship.
                                    </span>
                                  </td>
                                </tr>

                               <tr>
                                  <td align="left" class="txt-mobile26_3_2d
                                    txt-mobile-left13_3_2d" style="text-align:
                                    left; padding-left:20px; padding-right:20px;
                                    padding-top:26px; font-family:Arial;
                                    font-size:18px; color:#5c5c5c;">
                                    <span id="body-signature-text"
                                      name="body-signature-text">
                                      Thank you for purchased with us.<br><br>
                                    </span>
                                  </td>
                                </tr>

                              </tbody></table></td></tr></tbody></table></td></tr></tbody></table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" width="100%"
              style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner">
                    <!---->

                    <table width="100%" cellspacing="0" cellpadding="0"
                      border="0" align="center" style="font-family:Arial;">
                      <tbody><tr>
                          <td valign="top" align="center">
                            <table border="0" width="640" class="container"
                              height="100%" cellpadding="0" cellspacing="0">
                              <tbody><tr>
                                  <td align="left" class="paddtop80_3_2d
                                    mspace_adi_heading_3_2d"style="padding-top:25px;padding-left:20px;
                                    padding-right:20px;" valign="top">
                                    <span name="ordersum-headline-text"
                                      id="ordersum-headline-text"
                                      style="font-family:Arial;font-size:30px;
                                      font-weight:bold;color:#000000;
                                      background-color:#ffffff;
                                      word-wrap:break-word;table-layout:
                                      fixed;">ORDER SUMMARY
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" class="txt-mobile26_3_2d
                                    txt-mobile-left13_3_2d font16-l34_3_2d"
                                    style="padding-left:20px;
                                    padding-right:20px; font-weight: bold;">
                                    <table class="force-col" width="100%"
                                      cellspacing="0" cellpadding="0" border="0"
                                      style="font-weight: lighter;
                                      color:#5c5c5c;">
                                      <tbody><tr>
                                          <td class="templateColumnContainer
                                            col-xs-1_3_2d" style="width: 33%;
                                            padding: 0 10px 0 0;" valign="top">
                                            <table>
                                              <tbody><tr>
                                                  <td align="left"
                                                    style="padding-top: 26px;
                                                    font-size: 16px;
                                                    line-height: 22px;
                                                    font-family:Arial;"
                                                    class="txt-mobile26_3_2d
                                                    txt-mobile-left13_3_2d">
                                                    <span
                                                      name="ordersum-ship-headline-text"
                                                      id="ordersum-ship-headline-text"
                                                      style="text-transform:
                                                      uppercase; color:#000000;
                                                      font-weight: 600;">
                                                      Address<br>
                                                    </span>
                                                    <span
                                                      name="ordersum-ship-text"
                                                      id="ordersum-ship-text"
                                                      style="font-weight:
                                                      lighter;color:#5c5c5c">
                                                      <span
                                                        name="ordersum-ship-row1-text"
                                                        id="ordersum-ship-row1-text">
                                                        {{ order_ref_id.customer_id.first_name }} {{ order_ref_id.customer_id.last_name }}<br>
                                                      </span>

                                                    {% if order_ref_id.shipping_address %}
                                                      <span
                                                        name="ordersum-ship-row2-text"
                                                        id="ordersum-ship-row2-text">
                                                        {{ order_ref_id.shipping_address.street_address }},<br>
                                                        {% if order_ref_id.shipping_address.apartment_address %}
                                                            {{ order_ref_id.shipping_address.apartment_address }},<br>
                                                        {% endif %}
                                                        {{ order_ref_id.shipping_address.city }}, {{ order_ref_id.shipping_address.state }} {{ order_ref_id.shipping_address.zip }}
                                                        <br>
                                                      </span>
                                                    {% endif %}

                                                    </span>
                                                  </td>
                                                </tr>
                                              </tbody></table>
                                          </td>


                                          <td class="templateColumnContainer
                                            col-xs-1_3_2d" align="left"
                                            style="width: 33%; padding: 0 10px 0
                                            0;" valign="top">
                                            <table class="width80">
                                              <tbody><tr>
                                                  <td align="left"
                                                    style="padding-top: 26px;
                                                    font-size: 16px;
                                                    line-height: 22px;
                                                    font-family:Arial;"
                                                    class="txt-mobile26_3_2d
                                                    txt-mobile-left13_3_2d">
                                                    <span
                                                      name="ordersum-sum-headline-text"
                                                      id="ordersum-sum-headline-text"
                                                      style="text-transform:
                                                      uppercase; color:#000000;
                                                      font-weight: 600;
                                                      margin-bottom:0px">
                                                      Order Summary
                                                    </span>
                                                    <table width="100%"
                                                      cellspacing="0"
                                                      cellpadding="0"
                                                      border="0">
                                                      <tbody><tr
                                                          style="font-family:Arial;">
                                                          <td
                                                            name="ordersum-sum-products-label-text"
                                                            id="ordersum-sum-products-label-text"
                                                            style="width: 50%;
                                                            font-size:
                                                            16px;color:#5c5c5c;line-height:
                                                            22px" align="left"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d">
                                                            Products
                                                          </td>
                                                          <td
                                                            name="ordersum-sum-products-text"
                                                            id="ordersum-sum-products-text"
                                                            style="width: 50%;
                                                            font-size:
                                                            16px;color:#5c5c5c;line-height:
                                                            22px" align="right"
                                                            valign="bottom"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d">
                                                            ${{ order_ref_id.subtotal|floatformat:2 }}
                                                          </td>
                                                        </tr>

                                                        <tr
                                                          style="font-family:Arial;">
                                                          <td
                                                            name="ordersum-sum-shipping-cost-label-text"
                                                            id="ordersum-sum-shipping-cost-label-text"
                                                            style="width: 50%;
                                                            font-size:
                                                            16px;color:#5c5c5c;line-height:
                                                            22px" align="left"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d">
                                                            Delivery
                                                          </td>
                                                          <td
                                                            name="ordersum-sum-shipping-cost-text"
                                                            id="ordersum-sum-shipping-cost-text"
                                                            style="width: 50%;
                                                            font-size:
                                                            16px;color:#5c5c5c;line-height:
                                                            22px" align="right"
                                                            valign="bottom"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d">
                                                            ${{ order_ref_id.shipping_price|floatformat:2 }}

                                                          </td>
                                                        </tr>


                                                        <tr
                                                          style="font-family:Arial;">
                                                          <td
                                                            name="ordersum-sum-tax-label-text"
                                                            id="ordersum-sum-tax-label-text"
                                                            style="width: 50%;
                                                            font-size:
                                                            16px;color:#5c5c5c;line-height:
                                                            22px" align="left"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d">
                                                            Tax
                                                          </td>
                                                          <td
                                                            name="ordersum-sum-tax-text"
                                                            id="ordersum-sum-tax-text"
                                                            style="width: 50%;
                                                            font-size:
                                                            16px;color:#5c5c5c;line-height:
                                                            22px" align="right"
                                                            valign="bottom"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d">
                                                            -
                                                          </td>
                                                        </tr>



                                                        <tr
                                                          style="font-family:Arial;">
                                                          <td
                                                            name="ordersum-sum-total-label-text"
                                                            id="ordersum-sum-total-label-text"
                                                            style="padding-top:26px;
                                                            width: 50%;
                                                            font-size:
                                                            16px;line-height:
                                                            22px; color:#000000;
                                                            font-weight: 600;"
                                                            align="left"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d">
                                                            Total
                                                          </td>
                                                          <td
                                                            name="ordersum-sum-total-text"
                                                            id="ordersum-sum-total-text"
                                                            style="padding-top:26px;
                                                            width: 50%;
                                                            font-size:
                                                            16px;color:#5c5c5c;
                                                            line-height: 22px;
                                                            color:#000000;
                                                            font-weight: 600;"
                                                            align="right"
                                                            valign="bottom"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d">
                                                            ${{ order_ref_id.total_net|floatformat:2 }}
                                                          </td>
                                                        </tr>
                                                        <tr
                                                          style="font-family:Arial;">
                                                          <td
                                                            name="ordersum-sum-total-tax-statement-text"
                                                            id="ordersum-sum-total-tax-statement-text"
                                                            align="left"
                                                            class="txt-mobile26_3_2d
                                                            txt-mobile-left13_3_2d"
                                                            style="font-size:
                                                            16px;color:#5c5c5c;
                                                            line-height:22px">
                                                          </td>
                                                        </tr>

                                                      </tbody></table>
                                                  </td>
                                                </tr>
                                              </tbody></table>
                                          </td>

                                        </tr>
                                      </tbody></table>
                                  </td>
                                </tr>
                              </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>

                  </td></tr></tbody></table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" width="100%"
              role="presentation" style="min-width: 100%;"class="stylingblock-content-wrapper"><tbody><tr><td
                    class="stylingblock-content-wrapper camarker-inner">
                    <!-- -->

                    <!-- -->
                    <table width="100%" align="center" border="0"
                      cellspacing="0" cellpadding="0">
                      <tbody><tr>
                          <td align="center" valign="top">
                            <table width="640" align="center" class="container"
                              border="0" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                  <td align="left" class="paddtop80_3_2d
                                    mspace_adi_heading_3_2d"id="product-heading-text"
                                    valign="top" style="padding-top: 50px;
                                    padding-right: 20px; padding-left: 20px;"
                                    name="product-heading-text">
                                    <span name="product-headline-text"
                                      id="product-headline-text"
                                      style="font-family:Arial;font-size:30px;
                                      font-weight:bold;color:#000000;
                                      background-color:#ffffff;
                                      word-wrap:break-word;table-layout:
                                      fixed;">
                                      WHAT YOU ORDERED
                                    </span>
                                  </td>
                                </tr>

                                <!--              -->
                                {% for i in ordered_items %}
                                <tr>
                                  <td align="left" style="padding-right: 20px;
                                    padding-left: 20px; font-family: Arial;
                                    font-size: 16px; font-weight: bold;">
                                    <table width="100%" align="left"
                                      style="color: rgb(92, 92, 92);
                                      font-family: Arial; font-size: 16px;
                                      margin-top: 26px; table-layout: fixed;"
                                      border="0" cellspacing="0" cellpadding="0"
                                      valign="top">
                                      <tbody><tr>
                                          <td width="150" align="left"
                                            valign="top">
                                            <img name="product-item-image"
                                              width="150" class="resizeImg"
                                              id="product-item-image"
                                              style="width: 150px; display:
                                              block;" alt="Cart Image"
                                              src="cid:{{ i.SKU.item_id.filename }}"
                                              border="0">
                                          </td>
                                          <td align="left"
                                            class="txt-mobile26_3_2d
                                            txt-mobile-left13_3_2d
                                            font16-l34_3_2d" valign="top"
                                            style="text-align: left; color:
                                            rgb(92, 92, 92); padding-right:
                                            20px; padding-left: 20px;
                                            font-family: Arial; font-size: 16px;
                                            font-weight: lighter;">
                                            <span style="text-transform:
                                              uppercase;" id="product-name-text"
                                              name="product-name-text">
                                              {{ i.SKU.item_id.title }}
                                            </span><br>
                                            <span id="product-totalprice-text"
                                              name="product-totalprice-text">
                                              ${{ i.total_price|floatformat:2 }}
                                            </span>

                                            
                                            <br><br>



                                            <span id="product-color-text"
                                              name="product-color-text">
                                              Color: {{ i.SKU.color }}
                                            </span>
                                            <br>


                                            <span id="product-size-text"
                                              name="product-size-text">
                                              Size: {{ i.SKU.size }}
                                            </span>
                                            <br>


                                            <span id="product-quantity-text"
                                              name="product-quantity-text">
                                              Quantity: {{ i.quantity }}
                                            </span>
                                            <br>


                                            <span id="product-articleno-text"
                                              name="product-articleno-text">
                                              Article No:  {{ i.SKU }}
                                            </span>
                                            <br>

                                            <span id="product-articleno-text"
                                              name="product-articleno-text">
                                              Unit Price:  ${{ i.unit_price|floatformat:2 }}
                                            </span>


                                          </td>
                                        </tr>
                                      </tbody></table>
                                  </td>
                                </tr>
                                {% endfor %}

                              </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>

                  </td></tr></tbody></table>
          </td>
        </tr>
        
        
        
        <tr>
          <td align="center" valign="top">

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

          </td>
        </tr>





        <!-- ************************ END RENDER FOOTER ************************** -->
      </tbody></table>

  </body></html>