{% extends 'base.html' %}
{% load static %}
{% block portal %}
    {% include 'hero-section.html' %}
    <!-- listing -->
    <section>
        <div class="container" style="min-height:50vh">
            <div class="row gutter-4 justify-content-between">
                <aside class="col-lg-3">
                    <div class="sticky-top nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:password-reset' %}">Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:orders' %}">Orders</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'account:addresses' %}">Addresses</a>
                        </li>
                    </div>
                    {% if request.user.is_staff %}
                    <hr>
                    <div class="sticky-top nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:dashboard' %}">Dashboard</a>
                        </li>
                    </div>
                    {% endif %}
                </aside>
                <!-- content -->
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col">
                            <div class="tab-content" id="myTabContent">
                                <!-- addresses -->
                                <div class="tab-pane fade show active"
                                     id="sidebar-1-3"
                                     role="tabpanel"
                                     aria-labelledby="sidebar-1-3">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="mb-0">Addresses</h3>
                                            <span class="eyebrow">{{ addresses|length }} Entry</span>
                                        </div>
                                    </div>
                                    <div class="row gutter-2">
                                        {% for address in addresses %}
                                            <div class="col-md-6">
                                                <div class="card card-data">
                                                    <div class="card-header card-header-options">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <h3 class="card-title">
                                                                    Address {{ forloop.counter }}
                                                                    {% if address.default %}- Default{% endif %}
                                                                </h3>
                                                            </div>
                                                            <div class="col text-right">
                                                                <div class="dropdown">
                                                                    <button id="dropdownMenuButton"
                                                                            data-toggle="dropdown"
                                                                            aria-haspopup="true"
                                                                            aria-expanded="false"
                                                                            type="button"
                                                                            class="btn btn-lg btn-secondary btn-ico">
                                                                        <i class="bi-three-dots-vertical"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                        <li>
                                                                            <a class="dropdown-item" href="#!">Edit</a>
                                                                        </li>
                                                                        <li>
                                                                            <a class="dropdown-item"
                                                                               href="{% url 'account:delete-address' address.id %}?next={{ request.path }}">Delete</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body w-75">
                                                        <p class="card-text">
                                                            {{ address.street_address }}
                                                            <br>
                                                            {% if address.apartment_address %}
                                                                {{ address.apartment_address }}
                                                                <br>
                                                            {% endif %}
                                                            {{ address.city }}, {{ address.state }} - {{ address.zip }}
                                                            <br>
                                                            United States
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h3>New Address</h3>
                                        </div>
                                    </div>
                                    <form method="post" id="ContactInfo">
                                        {% csrf_token %}
                                        <div class="row gutter-1 mb-6" id="AddressForm">
                                            <div class="form-group col-md-12">
                                                <label for="id_street_address">Address</label>
                                                {{ form2.street_address }}
                                                <ul class="list-group list-group-item-danger">
                                                    {% for i in form2.street_address.errors %}<li class="list-group-item">{{ i|striptags }}</li>{% endfor %}
                                                </ul>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="id_apartment_address"></label>
                                                {{ form2.apartment_address }}
                                                <ul class="list-group list-group-item-danger">
                                                    {% for i in form2.apartment_address.errors %}<li class="list-group-item">{{ i|striptags }}</li>{% endfor %}
                                                </ul>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="id_city">City</label>
                                                {{ form2.city }}
                                                <ul class="list-group list-group-item-danger">
                                                    {% for i in form2.city.errors %}<li class="list-group-item">{{ i|striptags }}</li>{% endfor %}
                                                </ul>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="id_state">State</label>
                                                {{ form2.state }}
                                                <ul class="list-group list-group-item-danger">
                                                    {% for i in form2.state.errors %}<li class="list-group-item">{{ i|striptags }}</li>{% endfor %}
                                                </ul>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="id_zip">ZIP Code</label>
                                                {{ form2.zip }}
                                                <ul class="list-group list-group-item-danger">
                                                    {% for i in form2.zip.errors %}<li class="list-group-item">{{ i|striptags }}</li>{% endfor %}
                                                </ul>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="id_country">Country</label>
                                                <input type="text"
                                                       name="country"
                                                       class="form-control"
                                                       id="id_country"
                                                       value='United States'
                                                       disabled
                                                       style="background-color: transparent;">
                                            </div>
                                            <div class="col-12">
                                                <div class="custom-control custom-switch mb-2">
                                                    {{ form2.default }}
                                                    <label class="custom-control-label text-muted" for="id_default">Make this a default address</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="submit" value="Add" name="Add" class="btn btn-light">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endblock %}
