{% extends 'base.html' %} {% load static %} {% block portal %}
{% include 'hero-section.html' %}

{% if messages %}
{% for message in messages %}
    {% if "success" in message.tags %}<div class="alert alert-success text-center">{{ message }}</div>{% endif %}
    {% if "error" in message.tags %}<div class="alert alert-danger text-center">{{ message }}</div>{% endif %}
{% endfor %}
{% endif %}

<!-- listing -->
<section>
    <div class="container vh-md-50">
        <div class="row gutter-4 justify-content-between">


            <!-- sidebar -->
            <aside class="col-lg-3">
                <div class="sticky-top nav nav-pills flex-column">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account:profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:password-reset' %}">Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:orders' %}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:addresses' %}">Addresses</a>
                    </li>
                </div>
                {% if request.user.is_staff %}
                <hr>
                <div class="sticky-top nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:dashboard' %}">Dashboard</a>
                    </li>
                </div>
                {% endif %}
            </aside>
            <!-- / sidebar -->

            <!-- content -->
            <div class="col-lg-9">
                <div class="row">
                    <div class="col">
                        <div class="tab-content" id="myTabContent">

                            <!-- profile -->
                            <div class="tab-pane fade show active" id="sidebar-1-1" role="tabpanel"
                                aria-labelledby="sidebar-1-1">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <h3>Personal Data</h3>
                                    </div>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row gutter-1 mb-6">
                                        <div class="form-group col-md-6">
                                            <label for="id_first_name">First Name</label>
                                            {{ form.first_name }}
                                            <ul class="list-group list-group-item-danger">
                                                {% for i in form.first_name.errors %}<li class="list-group-item">{{ i|striptags }}</li>{% endfor %}
                                            </ul>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="id_last_name">Last Name</label>
                                            {{ form.last_name }}
                                            <ul class="list-group list-group-item-danger">
                                                {% for i in form.last_name.errors %}<li class="list-group-item">{{ i|striptags }}</li>{% endfor %}
                                            </ul>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="id_phone_number">Phone Number</label>
                                            {{ form.phone_number }}
                                            <small id="PhoneHelpBlock" class="form-text text-muted">
                                                {{ form.phone_number.help_text }}
                                            </small>
                                            <ul class="list-group list-group-item-danger">
                                                {% for i in form.phone_number.errors %}<li class="list-group-item">{{ i|striptags }}</li>{% endfor %}
                                            </ul>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="id_email">Email Address</label>
                                            <input type="email" name="email" class="form-control" value="{{ profile.email }}" disabled id="id_email">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <input type="submit" value="Save" name="Save" class="btn btn-light">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
</section>
{% endblock %}